[2019-11-26 08:44] sbradl opened #206 "Showing/Hiding messes up order"
When hiding and reshowing a split-area it gets appended to the end instead of showing it at it's initial position. This is because the css-order attribute is set incorrectly.

https://stackblitz.com/edit/angular-q1igtp

[2019-11-26 18:51] dck5132 commented on #206
@sbradl - if you add an [order] property to each of the as-split-area elements and assign them in the order you want them to be shown it will work as expected

Example - https://stackblitz.com/edit/angular-ua1jt5?file=src/app/app.component.html

[2019-11-26 19:16] sbradl commented on #206
Thanks @dck5132

This should be added to the documentation.

[2019-12-02 10:51] teetl6 commented on #135
Some solutions for that? Having the same problem with nested split.

[2019-12-12 05:41] vasiltabakov commented on #194
+100 and he's a visualization of this feature:
![2019-12-12_07-38-46](https://user-images.githubusercontent.com/1178309/70685657-bbe00a80-1cb2-11ea-8ab0-24890d4a188a.gif)

[2019-12-12 14:20] ishanuda commented on #194
Hi, @vasiltabakov is this feature available in the library?
If so, please can you give me an example of how to implement this feature.
Thank you

[2019-12-12 14:22] vasiltabakov commented on #194
Hi, @ishanuda

No it's not available, I've only added a visualization for the author or other interested parties to see and get a better idea about the feature. If I get time I'll implement it myself and create a PR.

What kind of an app are you working on btw? (that needs split)

[2019-12-12 14:57] ishanuda commented on #194
Hi @vasiltabakov

Thank you for the update, I am working on an angular application with angular material.
So trying to use this library to re-size the left and right panel in the application.

regards

[2019-12-14 14:44] gmareater opened #207 "It's thanx note"
Sir
I'm impressed.
Really well done.

I enjoyed seeing  how smooths it's working.

Keep it up :)

[2019-12-29 20:34] MRROOX commented on #135
I have the same problem... any solution?

[2020-01-08 15:01] kuehlc opened #208 "On the examples page, from Roll/unroll on, I get console errors saying "Cannot read property 'direction' of undefined", and the page is broken."
**Describe the bug**
A clear and concise description of what the bug is.
Please specify library version.

**To Reproduce**
Create a Stackblitz demoing the bug/issue:
https://stackblitz.com/

[2020-01-08 15:01] kuehlc commented on #208
Same thing for 'guttersize' undefined in the console.

[2020-01-11 16:40] ishanuda commented on #194
Any update on this feature?

[2020-01-13 12:34] aswathy29592 opened #209 "Map info window does not come out of the split pane"
Hi
I have loaded agm- Angular google map in one of the split pane. On hover on each marker of the map, an info window is shown on the marker. This window is not currently popping out of the split pane. Instead it sits within the pane which makes the map move to show the info window fully. Is it possible to bring the window out of the pane so that it is on top of the other panes popped out ?

[2020-01-13 20:40] rustygreen opened #210 "Emit event when all panels are built (layout ready)"
# Issue
Thanks for the great component. I have an issue where I have child components within a set of dynamically built as-split-areas and I need to know the width and height of the available space for each component in the split area. However, the angular-split component does not seem to provide any event/hook into when the entire layout is done and the width/height are final. What I am seeing no

[2020-01-14 09:25] smartm0use opened #211 "Does it work without setting the height of the containing div?"
**Describe the bug**
It doesn't work if I don't set a fixed height to the containing div. I can't see the gutter and splitting doesn't work.

**To Reproduce**
https://stackblitz.com/edit/angular-rcqyv1
Just remove `height: 500px;` from app.component.html to reproduce it.

[2020-01-17 03:36] robinNode opened #212 "startPoint could be undefined"
[code]

![issue3](https://user-images.githubusercontent.com/1568013/72582323-50c2cd00-391d-11ea-9087-4355d33a627d.PNG)

[2020-01-18 18:59] BertrandMarechal commented on #208
I had a look and everything seems fine on Chrome 79

[2020-01-18 19:29] kuehlc commented on #208
That's good. Not sure what caused the issue. I was on chrome on my work computer in an incognito tab at the time when it happened.

[2020-01-26 18:02] thomaspeugeot opened #213 "a simpler simple-example ?"
Problem:
As a beginner in Ng, I have studied every code element of the simple-example. When a code element was not clear, I deleted it to understand the side effect.

To my surprise, I realized that sometime, no side effect was visible by (again I am no expert in Ng).

For instance
[code]
with the template
[code]

became
[code]
[code]
Proposed solution:
I have edited a simpler version of simple-ex

[2020-01-28 11:13] hemangi2128 opened #214 "set different height for every div"
I have 2 divs, vertically placed on one another, and they are having different height. I want set
height first div. Please suggest or help

**To Reproduce**
Create a Stackblitz demoing the bug/issue:
https://stackblitz.com/

[2020-01-28 11:20] hemangi2128 commented on #214
hey, got the solution in documentation.
Thanks

[2020-01-29 10:39] smartm0use commented on #211
Any comment about this?

[2020-01-30 14:09] kuehlc commented on #208
I was on the roll/unroll example. I clicked each button. I then clicked on the examples dropdown and clicked on the next example. This is what showed on the page and what my console said. Maybe it has to do with switching between examples after using the buttons on the previous one?
I should clarify that roll/unroll example worked, which I think may support my theory of the switching between examp

[2020-01-31 11:36] smartm0use opened #215 "How to scroll a split area on main window scrolling?"
Hello, I have the following situation:

https://angular-atwlce.stackblitz.io

There is any way or any library option to scroll the right panel when users scroll the main windows?
As you can see in my example I have 3 scrollbars. I would like to have 2 vertical scrollbars, one for left panel and one on the right to scroll the main window and the right panel.

How to reach that?

[2020-01-31 12:34] a-mesin opened #216 "Missing copyright information"
There is no copyright phrase in the License file (just the placeholder). Please update the appropiate information.

https://github.com/bertrandg/angular-split/blob/954682bc0a528df2a7c672dbf13039612dee7258/LICENSE#L189

[2020-02-03 14:57] dck5132 commented on #211
This needs the parent element to have a defined height.

The closed issue here explains it in more detail <https://github.com/bertrandg/angular-split/issues/65>

[2020-02-03 15:28] smartm0use commented on #65
It is not working in my case: https://stackblitz.com/edit/angular-rcqyv1
What's wrong?

[2020-02-03 15:35] smartm0use commented on #65
What about if I'm in a modal and the parent container is scrollable (with `max-height: calc(80vh - 10rem)`)?

[2020-02-06 08:25] aokaywe commented on #202
it's important, thanks!

[2020-02-07 17:44] arobinson opened #218 "Missing support for Angular 9"
**Describe the bug**
[code]

**To Reproduce**
Install angular-split into an Angular 9 working-copy and run `npm install`

[2020-02-10 21:47] tosehee commented on #218
bump

[2020-02-11 13:42] bertrandg commented on #218
Yes, will do it this week!

[2020-02-13 16:44] bertrandg commented on #218
I've just published version `3.0.3`.

[2020-02-13 16:49] tosehee commented on #218
Thanks for quick turnaround!

[2020-02-13 16:52] bertrandg commented on #216
Done :)

[2020-02-13 16:52] #216 closed

[2020-02-13 17:04] bertrandg commented on #211
No sorry, it can't works without specifying an height.

[2020-02-13 17:04] #211 closed

[2020-02-13 17:10] bertrandg commented on #207
@gmareater thanks! 👍 😄

[2020-02-13 17:10] #207 closed

[2020-02-13 17:27] bertrandg commented on #215
Sorry you can't do that currently and that's out of library's scope.

[2020-02-13 17:28] bertrandg commented on #215
Or maybe, if i understand well what you want, you have to avoid scrollbar in your right area, so it will scroll on full page on this zone..

[2020-02-13 17:28] #215 closed

[2020-02-13 17:33] bertrandg commented on #189
That's true, will do better next time.

[2020-02-13 17:33] #189 closed

[2020-02-13 17:37] bertrandg commented on #210
Hi,
Did you try to do your calcul stuff in your main component `ngAfterViewInit()` hook?
It should be correct there..

[2020-02-13 17:38] bertrandg commented on #208
Weird, will take a look..

[2020-02-13 17:39] bertrandg commented on #196
No enought info, need stackblitz demo..

[2020-02-13 17:39] #196 closed

[2020-02-14 02:11] robinNode commented on #218
angular 9 is supported now?

[2020-02-17 08:28] uladzimir-miadzinski opened #219 "IE10 support"
**Describe the bug**
"angular-split": "3.0.2"
Hi, I want to ask if it has ie10 support? Or the thing that package is not working  in IE10 is not a bug because you don't support it?

**To Reproduce**
https://bertrandg.github.io/angular-split/#/examples/simple-split
simple split example didn't work. No errors in console, it seems that some styles that you use are not supported in ie10. Did you inves

[2020-02-17 10:56] Mysame commented on #218
@bertrandg Thank you very much for the quick update.
However, it's advisable to also approve pull request https://github.com/bertrandg/angular-split/pull/204 for Ivy compatibility.

[2020-02-17 10:57] Mysame commented on #219
I doubt IE10 is supported, flex / calc() simply don't work there, and this library is based around those properties.
Also, since IE10 is now official end-of-life since 2020/01/14, I see no reason why this package should support it.

[2020-02-17 12:14] uladzimir-miadzinski commented on #219
a lot of apps still work with windows7/ie10, not every company has posibilities to migrate on win10/edge, if fix is possible (use width property) maybe it may take its place to increase browser compability

[2020-02-19 14:16] KeithGillette opened #220 "Incorrect @Input size typing when strictTemplates is enabled"
**Describe the bug**
AOT compilation build under Angular 9 with `angularCompilerOptions.strictTemplates: true` in `tsconfig.app.json` generates a `error TS2322: Type 'string' is not assignable to type 'number'` when binding `<as-split-area [size]="'*'">`, as the `@Input size` is typed as `number | null` in[ the source code](https://github.com/bertrandg/angular-split/blob/master/projects/angular-sp

[2020-02-26 00:46] kuehlc commented on #208
Any word on this?

[2020-02-26 11:56] FranPn commented on #218
I installed the latest version of Angular 9 (9.0.1) and installed the latest version of angular-split (v. 3.0.3).
I created a simple split vertical but it doesn't work. How should I behave?

Use Chrome 80.0.3987.122

[2020-02-26 19:13] IdiomaSoftware commented on #150
I was having the same issue - I see the problem was that I wasn't setting size to "*" for the second split area. Thanks for the demo!!! One snippet worth 1000 words :).

[2020-03-04 15:17] kottartillsalu commented on #218
Has anyone been able to make it work with Angular 9?

[2020-03-05 06:56] natilivni commented on #218
bump

[2020-03-06 07:14] FatalTsai commented on #60
thx a lot

[2020-03-09 16:25] dck5132 commented on #218
If you add:  schemas: [CUSTOM_ELEMENTS_SCHEMA] to you app module inside the @NgModule decorator it should fix the issue for your build @kottartillsalu

[2020-03-11 06:00] NRaf opened #222 "Support column-reverse"
I have a use case when I need to split between two panels, but I'd like the order of the panes to flip around.

Basically, I have a table and a map. When in horizontal mode, I want the table to be on the left (this is currently what I have).

When I switch across to vertical, I want the table to be on the bottom, not top.

I can achieve this using `column-reverse`, which mostly works, however the

[2020-03-20 23:00] bryantlikes commented on #218
Working for me with Angular 9. I had to change the import to use the .forRoot() unlike what is shown in the examples. Also had to do a fresh ng build so that the cli would compile the module es2015 as esm2015.

[2020-03-22 18:33] gchurchley commented on #2
I could not see the splitter and none of the aforementioned solutions worked for me.
I'm using the setting unit="pixel"

Setting a fixed height would enable me to see the splitter but my panes have flexible heights so that solution wasn't practical.

I found that overriding the height setting to auto worked a charm. It's a simple solution:
.as-horizontal > .as-split-gutter {
  height: auto !import

[2020-03-24 16:29] siva5176 commented on #218
Facing a issue with Angular 9,
error NG8001: 'as-split-area' is not a known element:
    1. If 'as-split-area' is an Angular component, then verify that it is part of this module.
    2. If 'as-split-area' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.

AnyOne able to fix it?

[2020-03-26 17:22] dck5132 commented on #218
@siva5176 have you tried adding `schemas: [CUSTOM_ELEMENTS_SCHEMA]` to your app module inside the @NgModule decorator?

[2020-03-26 20:36] siva5176 commented on #218
Thanks for your response, I tried but still no use, same error

[2020-04-02 20:15] russfleming opened #224 "Splitter bar does not work if height is not an explicit value"
In trying out the various examples, it seems that if the height attribute of the split-example CSS class is not set to an explicit value (e.g. 500px, etc.) but set to 'auto' or 100%, the divider bar is not displayed or is just a grey rectangle and not movable.

The result of this is that the height of the div containing the split panels must be explicitly given and not allowed to fill in the avail

[2020-04-02 21:16] sbervinov commented on #138
Looks like gutterDblClick does not work. It does not work in my project and it does not work in your demo (https://stackblitz.com/edit/angular-xztkig?file=src%2Fapp%2Fapp.module.ts)

[2020-04-29 18:45] Maximaximum commented on #220
I'm having exactly the same issue. This is clearly a bug, so I hope it will be fixed

[2020-05-03 11:15] eranshmil commented on #186
Here is the workaround I'm using:
[code]

[code]

[2020-05-08 13:52] dangelojesse opened #227 "Allow Content Projection inside the gutter."
The ability to add additional content inside the gutter would be fantastic.

I can almost hack enough css together to style the gutter the way I need it to look.  However it'd be helpful if I could just customize the html that appears in the gutter so I could add in a title. I realize this would only be useful in the case of two panels but adding in another ng-content section would be rad.

[2020-05-19 01:56] Rajpradeep26 opened #228 "Setting direction attribute value dynamically from directive"
**I would like to switch between split directions based on window screen size**
Initially i have the split direction as 'horizontal', but when window is resized below 768px, i have to switch the split direction to 'vertical' based on responsiveness.

**Get the direction attribute value from a custom directive**
I would like to add a custom directive which has to dynamically set the direction value

[2020-05-19 14:01] helder-a-reis commented on #135
I had the same problem. After reading this explanation https://developers.google.com/web/updates/2017/01/scrolling-intervention, where it states "We've found that a large majority of impacted pages are fixed relatively easily by applying the touch-action CSS property whenever possible.",  I was able to suppress the error by adding
as-split {
    touch-action: pan-y;
}
to my CSS (for direction="ver

[2020-05-20 21:28] shankarvn opened #229 "ERROR in node_modules/angular-split/lib/module.d.ts:4:25 - error TS1149"
**Describe the bug**
A clear and concise description of what the bug is.
Please specify library version.

Running into compilation issues with angular-split on Angular9 -

ERROR in node_modules/angular-split/lib/module.d.ts:4:25 - error TS1149: File name '<project>/node_modules/angular-split/lib/directive/splitarea.directive.d.ts' differs from already included file name '<project>/node_modules/ang

[2020-06-05 20:20] Maximaximum commented on #220
Hm, I wonder if this project is still maintained? 😢

[2020-06-07 07:06] batham opened #231 "Setting gutter hover style"
Hello,

As per this sample https://stackblitz.com/edit/angular-jhixse?file=src/app/app.component.scss

I want to define the style global instead of using :host or ::ng-deep.

Do you recommend an easy way I can have these styles global.

I have over 20 components which utilize this great tool and in each component I have these styles defined.

I would like to move this into a global scss.

Thank yo

[2020-06-10 03:17] mdmoin7 opened #232 "how to prevent auto resizing on hiding of any section"
i would like to know is there a way or a workaround to prevent resizing of panes on hiding. Its similar to the last demo here https://bertrandg.github.io/angular-split/#/examples/split-transitons
however, there's no minimum width limitation. So, for instance if i close A, B & C becomes 50%. I want only to resize but C to remain the same is it feasible.

[2020-06-18 07:20] vishalsingh119 commented on #228
I am also trying to achieve a similar thing but facing the issue-
on the Click toggle button want to change the direction of split but vertical direction split not working.
[direction]="splitterDirection  ? 'horizontal' : 'vertical'"

Any Idea?

[2020-06-18 08:37] nomeaning777 commented on #228
@Rajpradeep26
There are two issues your code.

 1. The direction is updated only once because `onWindowResize` doesn't update it..
 2. `@HostBinding('attr.direction')` updates only DOM attribute not component input.

Working example: https://stackblitz.com/edit/angular-3ht2p9
Thanks.

[2020-06-18 11:03] literalpie commented on #220
As a workaround, you can use `$any` in the template

[code]

[2020-06-19 09:04] stumanov commented on #224
Try to set **position: fixed** of the container that hosts splitter. In my case it has worked.

[2020-07-03 14:02] mroohian opened #233 "Missing support for Angular 10"
**Describe the bug**
Execution of apps fails due to errors. The error happens because of the changes in module `forRoot` return type:

`static forRoot(): ModuleWithProviders<T>`

https://angular.io/api/core/ModuleWithProviders

**To Reproduce**
Install angular-split into an Angular 10 project and run

[2020-07-03 14:48] nomeaning777 commented on #233
This issue will be fixed by the changes in #204, but it is not reviewed for a long time.

[2020-07-08 13:01] zbagley opened #234 "Documentation Update: order"
The documentation currently doesn't mention the `order` @Input. This should be updated for folks that want to use `visibility` to toggle, and expect the order to remain the same. See: #146. I too assumed this was a bug when I didn't see any mention of ordering of areas.

[2020-07-12 01:05] beeman commented on #233
Because the maintainer of `angular-split` clearly lost interest in maintaining it, and does seem to be interested in adding collaborators, I decided to fork this awesome library.

The fork is called `ngx-split`. Check the [homepage](https://beeman.github.io/ngx-split/), [npm package](https://npm.im/ngx-split/) and [repo](https://github.com/beeman/ngx-split/) .

@mroohian this issue should be fixed

[2020-07-12 03:16] beeman commented on #231
@batham I've forked this library as this no longer seems to be maintained.

One of the things I like to do is get the styles out of the main library and offer a separate .scss files, so the user can decide which flavor they want. Would that work for your use case?

Curious to hear what you think, feel free to join the party: https://github.com/beeman/ngx-split/issues/4

[2020-07-12 03:43] beeman commented on #218
Because the maintainer of `angular-split` clearly lost interest in maintaining it, and does seem to be interested in adding collaborators, I decided to fork this awesome library.

The fork is called `ngx-split`. Check the [homepage](https://beeman.github.io/ngx-split/), [npm package](https://npm.im/ngx-split/) and [repo](https://github.com/beeman/ngx-split/) .

Feel free to submit PR's and I'll co

[2020-07-12 07:19] batham commented on #231
@beeman I was not aware this excellent library is not maintained.

Glad to hear you have forked and willing to do the change.

The idea of a separate file is a great idea, this will reduce my .scss files for all components.

Have a main .scss file and users can override these styles in their component if they want it.

[2020-07-16 17:10] arturorv00 opened #236 "MinSize MaxSize dont work on vertical direction"
Hi,

I am trying to set a minSize for a vertical direction split area, but it does not.

does it work at all for vertical mode?

Refer to the following example:

[https://stackblitz.com/edit/angular-dhzydt](https://stackblitz.com/edit/angular-dhzydt)

`<as-split direction="vertical" unit="percent">
		<as-split-area size="25" minSize="20">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing el

[2020-07-17 00:11] nomeaning777 commented on #236
Your code uses version 2 but `minSize` and `maxSize` are introduced in version 3.
it seems that it works as expected in version 3. https://stackblitz.com/edit/angular-zvqrzg

[2020-07-17 19:34] arturorv00 commented on #236
ohhhh my bad. Thanks!

[2020-07-17 19:34] #236 closed

[2020-07-23 11:55] bertrandg opened #237 "LOOKING FOR A MAINTAINER"
Hello,

I didn't come there since long time and have no time to work on it, there's many PR/issues/bug reports let opened without answer, sorry for that.

If someone wants to maintain it and take the lead, i'm totally open to it, please reply there.

[2020-07-23 13:08] ideapad commented on #237
@beeman

[2020-07-23 13:49] beeman commented on #237
@bertrandg thanks a lot for considering. I would love to take over maintenance so I don't have to work on a separate fork 🙏

[2020-07-23 13:56] bertrandg commented on #237
@beeman Awesome, I've seen your fork and was considering deprecating this lib and link your fork but make you maintainer is a better options!

Never did this before, I've just send you an access invitation.
Tell me if something more is needed 👍

[2020-07-23 14:00] beeman commented on #237
I totally agree it's the better option, less fragmentation in the ecosystem is always good!

I think the other thing I need is access to npm so I can publish new releases:

`npm owner add beeman angular-split`

[2020-07-23 14:18] bertrandg commented on #237
@beeman it should be good for npm ownership ;)

[2020-07-23 14:28] beeman commented on #237
All looking good @bertrandg, thanks a lot!

[2020-07-23 14:29] bertrandg commented on #237
Thanks to you 👍

[2020-07-23 14:55] ideapad commented on #237
@bertrandg I also would love to take participation in maintenance as I am actively using your lib in my project

[2020-07-23 14:57] beeman opened #240 "ROADMAP: Plans for angular-split v4 and beyond"
This issue tracks the plans for angular-split v4 and beyond.

### v4 is released: [angular-split@4.0.0](https://www.npmjs.com/package/angular-split/v/4.0.0) 🎉

✅ The goal for this release was to publish a new version that works with recent Angular versions.

### v5

The goal for this release is to improve the DX for working on this project.

- Migrate to Nx Workspace
- Merge various demo apps into

[2020-07-23 15:00] beeman commented on #237
@ideapad it would be great to have more people working on this! It's probably good if we could coordinate efforts.

Feel free to join [this channel](https://discord.gg/ACQnXnC) on Discord so we can chat about it :)

[2020-07-23 15:13] beeman commented on #237
@bertrandg could you consider increasing my permissions so I can adjust things like branch protection?

[2020-07-23 15:48] beeman commented on #188
Hi @jmesa-sistel, thanks for creating this issue. A fix has landed in the main branch and should be released soon.

[2020-07-23 15:48] #188 closed

[2020-07-23 16:39] #234 closed

[2020-07-23 17:14] beeman commented on #218
@arobinson Thanks to @bertrandg I've been given permissions to maintain this library. I just released a new beta, can you verify if this works with Angular 9?

[2020-07-23 17:14] beeman commented on #233
@mroohian Thanks to @bertrandg I've been given permissions to maintain this library. I just released a new beta, `angular-split@4.0.0-beta.0`, can you verify if this works with Angular 10?

[2020-07-23 17:34] beeman commented on #240
@ideapad if I recall correctly, you filed an issue for support on v8. Can you verify if `angular-split@4.0.0-beta.0` works on your Angular v8 app?

[2020-07-23 17:42] beeman commented on #219
Hey @uladzimir-miadzinski, thanks for creating this issue.

I've merged #190 and it's available to test on `angular-split@4.0.0-beta.0`. Could you check if this fixes the issue?

I don't plan on actively working on supporting any EOL browsers myself, but if it can be supported with small, non-intrusive patches (like in #190) I will consider merging any PR's.

So, closing this issue for now, I'm op

[2020-07-23 17:42] #219 closed

[2020-07-23 17:47] beeman commented on #160
I agree with @bertrandg that this is a bit out of scope, and it's easy to implement following the demo.

Considering @BlindDespair is happy with the solution, I'm closing this issue.

[2020-07-23 17:47] #160 closed

[2020-07-23 17:48] beeman commented on #166
I would suggest we add a configuration option to the `forRoot` method that allows to set the default.

Happy to accept PR's that add this.

[2020-07-23 17:50] beeman commented on #185
Closing this issue as it's not reproducible, the library works as can be seen [here](https://stackblitz.com/edit/angular-split-demo).

Happy to accept PR's that improve the documentation.

[2020-07-23 17:50] #185 closed

[2020-07-23 17:52] beeman commented on #192
@dck5132 Today I merged #190 which should improve support for IE11. Can you verify if it works with `angular-split@4.0.0-beta.0`?

[2020-07-23 17:55] beeman commented on #213
I think the simplest example is the demo on Stackblitz: https://stackblitz.com/edit/angular-split-demo .

You can copy the content of the HTML in a new app and it should work.

[2020-07-23 17:56] beeman commented on #229
@shankarvn I released a new beta `angular-split@4.0.0-beta.0`, can you please verify if that still has the issue?

If so, please provide a repro so we can reopen the issue and look at fixing it.

[2020-07-23 17:56] #229 closed

[2020-07-23 17:58] beeman commented on #194
Looks like a great addition to the library.

I'm happy to review and merge a PR that ads this functionality.

[2020-07-23 17:59] beeman commented on #191
Hi @vlodko, thanks for creating this issue. It's fixed in #245 and will be online when v4 of this library is published.

[2020-07-23 17:59] #191 closed

[2020-07-23 18:00] beeman commented on #187
That would be a great addition, I'm happy to merge a PR that adds this.

StackBlitz has an [SDK](https://stackblitz.com/docs) that can be used for this.

[2020-07-23 18:02] beeman commented on #183
@garyw90 can you please create a repro on StackBlitz based on [this one](https://stackblitz.com/edit/angular-split-demo)?

[2020-07-23 18:04] beeman commented on #178
@greggbjensen thanks for creating the issue and the fix, it got merged today.

Could you verify if this works in `angular-split@4.0.0-beta.0`?

[2020-07-23 18:04] #178 closed

[2020-07-23 18:04] #180 closed

[2020-07-23 18:04] #183 closed

[2020-07-23 18:04] #192 closed

[2020-07-23 18:13] beeman commented on #208
@kuehlc the issue was that the demo page tried to access `splitEl` before it was initialized.

Fixed in #247 by using the null-conditional operator, released in `angular-split@4.0.0-beta.1`.

Demo page will be updated when v4 gets released.

[2020-07-23 18:13] #208 closed

[2020-07-23 18:14] beeman commented on #222
Seems like a nice addition, I'm happy to review and merge a PR that adds support for this.

[2020-07-23 18:14] #210 closed

[2020-07-23 18:14] beeman commented on #214
Seems like a nice addition, I'm happy to review and merge a PR that adds support for this.

[2020-07-23 18:17] beeman commented on #103
Closing this issue due to no activity.

I don't plan on actively working on supporting any IE or Edge myself as I don't use them.

If it can be supported with small, non-intrusive patches (like in #190) I will consider merging any PR's, but no guarantee.

[2020-07-23 18:17] #103 closed

[2020-07-23 18:18] beeman commented on #95
Closing this issue due to lack of activity.

I'll consider a merging a PR that fixes this.

[2020-07-23 18:18] #95 closed

[2020-07-23 18:20] beeman commented on #203
Hi @albahrawy.

This seems like a nice addition, I'm happy to review and merge a PR that adds support for this.

[2020-07-23 18:20] beeman commented on #193
Hi @iamwhitebox

This seems like a nice addition, I'm happy to review and merge a PR that adds support for this.

[2020-07-23 18:21] beeman commented on #227
Hi @dangelojesse

This seems like a nice addition, I'm happy to review and merge a PR that adds support for this.

[2020-07-23 18:22] ideapad commented on #240
@beeman have checked on v.8.2.0 - no issues, works great

[2020-07-23 18:23] beeman commented on #240
@ideapad awesome, thanks for testing!

[2020-07-23 18:24] beeman commented on #228
Looks like @nomeaning777 provided a fix, thanks for that!

Closing this issue, feel free to ping me if it's an actual issue in the library and we can reopen it.

[2020-07-23 18:24] #228 closed

[2020-07-23 18:38] beeman opened #248 "Publish styles as separate scss files to allow for easy customization"
In the current version of this library, the styles are part of `SplitComponent`.

While this is great for a usability point of view (no need to include a separate style) it limits the flexibility.

To offer a greater flexibility to developers using this library, it makes sense to publish the styles as separate SCSS files.

Pros
- makes it easier to extend/override the styles.
- publishing it as SC

[2020-07-23 19:22] beeman commented on #195
This will be addressed in #248

[2020-07-23 19:23] beeman commented on #206
This is fixed in #245, the site will be updated when the new version is released.

[2020-07-23 19:23] #206 closed

[2020-07-23 19:24] beeman commented on #209
@aswathy29592 can you please provide a StackBlitz repro?

You can work off of this example: https://stackblitz.com/fork/angular-split-demo

[2020-07-23 19:24] #209 closed

[2020-07-23 19:36] #195 closed

[2020-07-23 19:38] beeman commented on #231
Closing this issue, this will be part of #248

[2020-07-23 19:38] #231 closed

[2020-07-23 19:45] Rajdeep97 commented on #233
Hi @beeman,

Before today's commit, I tried using this library in my Angular 10 project and it worked well. I will install the beta also and let you know.

[2020-07-23 20:14] beeman commented on #212
Hey @robinNode, thanks for creating this issue. It looks like it's fixed by #217

Could you give it a try using `angular-split@next`?

https://stackblitz.com/fork/angular-split-demo

If it's still an issue, feel free to ping me and I'll reopen the issue.

[2020-07-23 20:14] #212 closed

[2020-07-23 21:28] beeman commented on #186
I've looked into this issue and confirm the behavior, the 'end' event is only emitted when the gutter changes position.

However, currently I'm not sure what's the best way to implement a fix without breaking other behavior.

Thanks to @eranshmil's example, I've now added this behavior to the iframe example page, it should land in https://github.com/bertrandg/angular-split/pull/249.

Going to clos

[2020-07-23 21:28] #186 closed

[2020-07-23 21:36] beeman commented on #202
Hey @settergren, thanks for creating this issue.

This seems like a nice addition, I'm happy to review and merge a PR that adds support for this.

If I find the time I will see if I can add this into v6, later this year.

[2020-07-23 21:38] beeman commented on #163
I'm not sure if I understand how this would look. If anyone could provide an example (or screenshot or gif) of how this would look, that would be great!

Re-opening the issue if there is more information :)

[2020-07-23 23:16] beeman commented on #218
Support for Angular 9 is now verified using [this repo](https://github.com/beeman/split-sandbox-v9).

If you find any issues with v9, please open a new issue with a reproduction. 🙏

[2020-07-23 23:16] #218 closed

[2020-07-23 23:16] beeman commented on #233
Support for Angular 10 is now verified using [this repo](https://github.com/beeman/split-sandbox-v10).

If you find any issues with v10, please open a new issue with a reproduction. 🙏

[2020-07-23 23:16] #233 closed

[2020-07-23 23:26] beeman commented on #224
Hey @russfleming, thanks for creating the issue.

Could you provide a repro that shows what you want to achieve, and what goes wrong?

Please use this as a starting point https://stackblitz.com/fork/angular-split .

[2020-07-24 08:16] bertrandg commented on #237
Any idea how to do this?

[2020-07-24 14:01] beeman commented on #237
@bertrandg I thought this could be done through the Manage Access panel, but it seems like it's limited to to organizations nowadays.

I've created the organization `angular-split`, and made you owner. With that you should be able to transfer ownership to the org. Hope that works for you.

[2020-07-24 14:45] bertrandg commented on #237
@beeman Yes, I've just did it! 👍
But website will need a fix:
https://bertrandg.github.io/angular-split/ > 404
https://angular-split.github.io/angular-split/ > fail to load ressources, need new build with correct url

[2020-07-24 14:46] beeman commented on #237
@bertrandg you're the best!  🎉

I'll look at rebuilding the sites properly, I got some ideas on how we can do that.

[2020-07-24 15:06] vlodko commented on #191
yay, thanks @beeman

[2020-07-24 15:26] beeman commented on #237
The website is now published here https://angular-split.github.io/. I'm going to update the references.

@bertrandg thanks a lot for collaborating on this, it really serves the community that we don't have fragmentation! 🎉

Closing this issue as it's is now resolved :)

[2020-07-24 15:26] #237 closed

[2020-07-24 16:56] hbthanki commented on #163
For example:
![image](https://user-images.githubusercontent.com/6187057/88415767-08450a00-cdad-11ea-964b-485eed27377f.png)

[2020-07-24 17:00] beeman commented on #163
Thanks for providing an example @hbthanki !

Looks like a nice addition to the library. I'm going to check if it can be added to v6.

PR's are welcome!

[2020-08-09 15:50] yevgeniy-belov opened #255 "minSize doesn't work"
minSize doesn't work when there are more than two split areas.

Versions: 3.0.3 and 4.0.0
Example: https://stackblitz.com/edit/angular-uacvff

[2020-08-09 16:06] beeman commented on #255
Hey @cssberries, thanks for filing this issue.

It looks like it's not particularly the number of areas, in this example it seems to work as expected:

https://stackblitz.com/edit/angular-split-demo-guggjn?file=src%2Fapp%2Fapp.component.html

Not that I set a `size` and `minSize` for all of the columns. Also, please make sure to use the latest 4.x version, the 3.x version are no longer supported.

[2020-08-09 17:17] cssberries commented on #255
Hi beeman,

The first section can be actually squeezed to zero.

[2020-08-09 17:22] beeman commented on #255
You're right, I see it now. I'm going to see if I can fix it.

[2020-08-25 09:10] IgnacioHR commented on #224
I added a style on the page like this:

[code]
I'm sorry, I'm not fluent in creating repro :( Hope this is of help

[2020-08-25 15:09] IgnacioHR opened #258 "Gutter appears multiple times and breaks UI"
**Describe the bug**

We are using angular-split inside a mat-step. Two of the steps looks similar and include an angular-split component.

On the initial step, everything looks OK (see screen capture)
On the following step, that is similar composition, the UI shows 5 gutter (looking at the source code in the browser) and the UI is totally broken.

**To Reproduce**

I'm not familiar with Stabilitz

[2020-08-25 16:28] IgnacioHR commented on #258
Deleted because I can't create a demo for this. Will investigate further.

[2020-08-25 16:36] IgnacioHR commented on #224
While working on another issue, I'm having this issue too.

Here is a small demo to show the problem. The gutter does not appear. When I set the attribute gutterSize="5" I get an error `Type 'string' is not assignable to type 'number'`.

https://stackblitz.com/edit/angular-ivy-fvjc72?file=src/app/dialog/dialog.component.html

[2020-08-25 17:01] beeman commented on #224
Hey @IgnacioHR - this is because of strict type checking, and works as expected. When you use `gutterSize="5"` it will be interpreted as a string. The proper way to do this is to evaluate the value, like so: `[gutterSize]="5"`. That way Angular knows it's a number.

[2020-08-25 17:03] beeman commented on #258
Ok, please re-open when you have a reproduction 👍

[2020-08-25 17:03] #258 closed

[2020-08-25 17:57] IgnacioHR commented on #224
Thanks!

Well, I've added [gutterSize]="5" and no gutter is shown

[2020-08-25 18:27] beeman commented on #224
You also need to provide an explicit height, like so:

https://stackblitz.com/edit/angular-ivy-jkxbzj?file=src%2Fapp%2Fapp.component.html

This issue exists because the splitter does not work if there is not explicit height. You might be able to work around it as per [this suggestion](https://github.com/angular-split/angular-split/issues/224#issuecomment-646524472) but I have not tried that.

[2020-08-26 16:26] IgnacioHR commented on #224
I created a working solution here: https://stackblitz.com/edit/angular-ivy-fvjc72?file=src/app/app.component.ts The solution requires two things:

Add a style like this:
[code]

At the component level, it is required to add
[code]

In the component declaration ... something like this:

[code]

Now the gutter appears without having to explicitly indicate the height

[2020-09-06 22:49] beeman opened #265 "Add compatibility table to readme and docs"
As of version 5 of angular-split there will be a minimal Angular compatibility requirement.

For example: angular-split 5.0 will only support Angular 9 and 10.

[2020-09-22 12:55] ahnpnl opened #266 "[Feature request]: support custom icon"
**Is your feature request related to a problem? Please describe.**
First of all, thank you for such a great work on this library. I would like to request a feature that `angular-split` allows users to have custom icon.

At the moment the icon is using a background-image url
![image](https://user-images.githubusercontent.com/27772165/93884753-9709d080-fce3-11ea-8922-0d888b24fa27.png)

**Describe th

[2020-09-28 15:22] gabrielnemeth opened #267 "Setting minSize after user drags the gutter causing resizing in split panel"
**Describe the bug**
Tested with versions: 3.0.3 and 4.0.0

If I change one of the areas minSize, after the user dragged the gutter, the panel gets resized after the minSize change.
![jump](https://user-images.githubusercontent.com/11211316/94451902-3d0b7e00-01af-11eb-9841-379f7579013b.gif)

**To Reproduce**
https://stackblitz.com/edit/angular-split-demo-kqmxdx?file=src%2Fapp%2Fapp.component.ts

[2020-09-29 21:24] deeg commented on #31
Just noting that I accomplished the same thing by using 'pointer-events: none' around the iframe when in a dragging state.

Makes it so you do not need an extra dom element as proposed by @bertrandg

[2020-09-30 12:45] gorshkov-leonid commented on #255
Hello, @beeman, are you going to release new version with this fix in in the near future and when?

[2020-10-14 15:57] ghost opened #268 "Not working when parent div is 100% width/height"
**Describe the bug**
I want to use angular split without having to specifiy dimentions of the parent div in pixels

**To Reproduce**

https://stackblitz.com/edit/angular-split-demo-hlrdbk?file=src/app/app.component.html

[2020-10-14 17:20] beeman commented on #268
Seems like a duplicate of #224

[2020-10-20 00:58] boan-anbo commented on #268
encountered the same issue

[2020-10-28 09:47] ahnpnl commented on #220
Hi, any updates on this issue ?

[2020-10-28 14:38] beeman commented on #220
For now the recommend way to handle this is using `$any()` as mentioned [here](https://github.com/angular-split/angular-split/issues/220#issuecomment-645945845).

Once v5 is released, built using Angular 10, I will consider fixing this.

[2020-10-28 16:01] beeman commented on #220
Correct, I solved it there so I know what's the fix.

I'm deprecated my fork because the original author decided to hand over maintainence of this library.

Just didn't get to merging back my fixes.

[2020-10-31 14:15] amirhaghajani opened #270 "Not working on RTL"
When parent is Right to Left, does not work right. When you pull the separator to the right, it does the opposite

[2020-11-15 18:53] Shemesh opened #272 "is this alive??"
@beeman is this project still alive?
any plans to merge pull requests?
any plans for new release?

[2020-11-15 22:30] beeman commented on #272
Yes :)

[2020-11-15 22:30] #272 closed

[2020-11-16 07:33] Shemesh commented on #272
@beeman great to hear it is alive.
there are few pr waiting your handling, including my own new expand\collapse feature.
we are eagerly waiting for it to be published to npm.
can you estimate when it will be done?

[2020-11-22 05:33] beeman commented on #272
Hey @Shemesh , can you please rebase your branch and create a new PR agains the `main` branch?

I'm about to create a new release and want to add your expand/collapse into it.

Thanks!

[2020-11-23 12:38] OhadC commented on #270
Did you try to use the "dir" property? https://angular-split.github.io/documentation

[2020-11-25 14:04] abhimodgi commented on #224
I am facing same issue we need to provide height for parent div by default otherwise it is not working. Even i have added min-height still it is not working.

[2020-11-25 15:51] beeman commented on #224
Can you try one of the suggestions above? If that doesn't work, a repro would be helpful! :)

[2020-11-30 14:06] aleterlone opened #282 "Expand/Collapse not available"
Hello, I installed the latest available version "4.0.0", however, I can't find calling the functions "Expand/Collpase", it displays the following message: "Property 'expand' does not exist on type 'SplitAreaDirective'.". Can anybody help me?

`@ViewChildren(SplitAreaDirective) areasEl: QueryList<SplitAreaDirective>;`

`this.areasEl.last.expand();` <-- Not Work

[2020-11-30 14:45] beeman commented on #282
Hey @aleterlone , you need to install they `next` release for this to work.

I didn't realise that is not clear because the docs site is running on Angular-split version 'next'.

[2020-11-30 22:18] aleterlone commented on #282
Hello @beeman, thanks for the quick response! First I would like to say that your work is fantastic thank you very much! Performing the version installation 'next', however, when starting the application several errors occurred. I'm using Angular 8, below are the messages generated:

50     get gutterStep(): number;
[code]
node_modules/angular-split/lib/component/split.component.d.ts:53:9 - error

[2020-12-02 00:10] beeman commented on #282
Hey @aleterlone , I think you can use something like this: https://stackblitz.com/edit/angular-split-demo-rcmvoz?file=src%2Fapp%2Fapp.component.html

Not sure if it has any side-effects thought, but it should work with your version.

[2020-12-07 06:57] pweissenbacher opened #283 "dragEnd event not sent when single-clicking gutter"
**Describe the bug**
Package version: 4.0.0
When dragging the gutter, the events "dragStart/dragEnd" are working fine.
But when soley clicking the gutter, the `dragStart` event is fired, but the `dragEnd` event is not.

**To Reproduce**
Look at the small Stackblitz example (dragging not updating, but events fired as described)
[StackBlitz Dev Mode](https://stackblitz.com/edit/angular-ivy-s3z3pt?fi

[2020-12-08 14:38] nomeaning777 commented on #283
In the current implementation, the component fires `dragStart` when a mouse button is pressed.
However, it fires `dragEnd` only when the mouse cursor is moved and the button is released.
If mouse cursor is not moved, it emits `gutterClick`/`gutterDblClick`.
https://github.com/angular-split/angular-split/blob/main/projects/angular-split/src/lib/component/split.component.ts#L709

I think it is bette

[2020-12-08 17:54] beeman commented on #283
@nomeaning777 I'm definitely interested in a PR that adds support for this (or maybe, fixes the bug that `dragStart` gets emitted when nothing gets dragged).

It would be awesome if it could be implemented with minimal amount of code changes, and add some cypress tests that prove the behavior.

I think we can publish that in a major version, maybe it can go into v5.

[2020-12-16 16:17] rsivan opened #285 "Documentation wrong on minSize and maxSize"
**Describe the bug**
**Documentation says** (https://angular-split.github.io/documentation):
"Maximum pixel or percent size, can't be bigger than provided size."
**Should be**:
Maximum pixel or percent size, can't be smaller than provided size.

Similar but opposite for minSize.

version v11.0.2

**To Reproduce**
Just open the documentation page.

[2020-12-16 16:23] rsivan opened #286 "Npm links broken"
**Describe the bug**
The following npm link at https://www.npmjs.com/package/angular-split is broken:

https://bertrandg.github.io/angular-split/

version (at npm): 4.0.0

**To Reproduce**
Look at npm link above

[2020-12-18 08:28] #283 closed

[2020-12-18 08:43] beeman commented on #286
Hey @rsivan, thanks for the heads-up.

This is now fixed since release 5.0.0 got published!

![image](https://user-images.githubusercontent.com/36491/102593660-25bf9b00-40e3-11eb-9947-1424e952e73d.png)

[2020-12-18 08:43] #286 closed

[2020-12-18 08:44] beeman commented on #283
This fix is released in version 5.0.0 thanks to @nomeaning777 🎉

https://stackblitz.com/edit/angular-ivy-xhc5bj?file=src/app/app.component.html

[2020-12-18 08:58] beeman commented on #285
Hey @rsivan, thanks for creating this issue!

I just updated this part of the docs, I hope it's clearer now :)

![image](https://user-images.githubusercontent.com/36491/102595216-3ec94b80-40e5-11eb-99cb-64e7ce663754.png)

[2020-12-18 08:58] #285 closed

[2020-12-18 08:59] beeman commented on #282
I hope the example above helps, if not let me know!

[2020-12-18 08:59] #282 closed

[2020-12-18 19:27] stefandxm commented on #202
Any news on this one?

[2020-12-18 20:42] beeman commented on #202
It's unlikely that I will add this any time soon as I don't need it in my apps. With that being said, happy to help with landing a PR that adds support for this.

[2020-12-19 22:45] stefandxm commented on #202
Cool. I'll see what we can do!

[2020-12-20 00:18] beeman commented on #202
If you want to chat about the implementation, feel free to ping me on Discord. The link is in the README.

[2020-12-28 11:51] digimezzo opened #290 "Angular 8 + angular-split 5.0.0: An accessor cannot be declared in an ambient context."
**Describe the bug**
I have installed version 5.0.0 of angular-split in a Angular 8 application. When starting the application using **npm start**, I'm getting these errors:

[code]
These errors occur as soon as I import **AngularSplitModul**e in **app.module.ts** as such:

`import { AngularSplitModule } from 'angular-split';`

[code]

Any idea what is going on? Is this related to the version of A

[2020-12-28 13:21] He-Wolf commented on #33
Hello @bertrandg ,

I checked the plunker project, and unfortunatelly it does not work any more.

I created a stackblitz project which uses div as you recommended. I do not see any horizontal scroll bar.

Stackblitz project: https://stackblitz.com/edit/angularsplit-horizontalscroll

How could I implement horizontal scrolling?

[2020-12-28 13:42] nomeaning777 commented on #33
@He-Wolf It works perfectly if you change `split-area` to `as-split-area` in `app.component.scss`

[2020-12-28 13:48] He-Wolf commented on #33
Yes, you are right. :) I corrected the stackblitz project.
Thanks for the quick response and support!

[2020-12-28 19:49] digimezzo commented on #290
This was indeed related to the Angular version and, most likely, its versions of Typescript. After an upgrade to Angular 9, the above errors don't occur anymore.

[2020-12-28 19:49] #290 closed

[2021-01-16 19:52] danyhoron commented on #165
Here's an example:
https://stackblitz.com/edit/angular-split-demo-wbwwma?file=src/app/app.component.html
On app.component.html I changed width and height to `%` instead of `px`.

[2021-01-16 19:58] beeman commented on #165
Hey @danyhoron, in your example the behavior is fixed when you set this in the global styles.css:

[code]

This is because of heights work in html, it needs 100% height on the parent too in order for it to work as expected.

Hope this helps.

[2021-01-18 06:51] danyhoron commented on #165
You're right. It  works.

Thank you.

[2021-01-21 17:53] KeithGillette commented on #220
Any timeline for merging the fix for this issue from `ngx-split`, @beeman?

We've been holding off on switching back from `ngx-split` to `angular-split` until this issue is closed, but now `ngx-split` throws a fatal error at runtime under `angular@11.1.0`:
[code]

[2021-01-21 18:55] beeman commented on #220
@KeithGillette can't really give a timeline at this point, sorry. Simply too busy with other things.

I think the workaround using `$any('*')` is relatively simple, so you might consider that.

[2021-02-18 08:58] ashishbhatia1995 commented on #131
@bertrandg can we do 1 scroll for both the screens. If content overflow I am getting different scrolls. But need 1 scroll to scroll both screens at once in as-split. Can u please help. Need this urgent.

[2021-02-18 09:31] beeman commented on #131
Hey @ashishbhatia1995, Bertrand is no longer maintaining this library. For support you can use the Discord channel linked in the readme.

[2021-02-18 10:45] ashishbhatia1995 opened #292 "I need Single vertical scroll for both screens. Can anyone please help me . Its urgent."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2021-02-18 18:10] beeman commented on #292
@ashishbhatia1995 as suggested in another issue, the recommend way to get support is using the Discord.

Additionally, it's not at all clear what you try to achieve. You ignored the questions in the github issue. I'm going to close this issue, please don't open any new issues for the same thing.

[2021-02-18 18:10] #292 closed

[2021-02-24 13:52] graphicsxp commented on #163
We are considering your component as it seems to be the best out there so far. Very nice piece of work. But our client requires this feature with arrow icons to collapse/expand panels automatically, without necessarily having to drag the gutter.

Here's a screenshot of what we want :

![image](https://user-images.githubusercontent.com/4160415/109010062-a08ece80-76af-11eb-88bb-5675383c48fd.png)

On

[2021-02-24 15:04] matndev opened #293 "Get initial sizes for a specific area in early lifecycle hooks"
I use **percent to define each area** in my wrapper component with this template :

`<as-split
            direction="horizontal"
            restrictMove="true"
            #splitTwoComponents

            <as-split-area
              [size]="100 - sizes.percent.panel.myothercomponent"
              #areaMyComponent

            </as-split-area>
            <as-split-area><MyOtherComponent></MyOt

[2021-02-26 11:58] RihabEA opened #294 "Drop down list open behind the split area"
In the as-split-area, if we have a datepicker, when we open it, it is displayed behind the split area. So to choose any date we need to resize the split area.

What we need is to open the datepicker above the split area without resizing the split area.
https://user-images.githubusercontent.com/28702053/109297376-8df4d080-783a-11eb-8f3b-08047d70dd19.PNG

[2021-02-26 17:52] beeman commented on #294
Hi @RihabEA. Thanks for creating this issue - a repro in StackBlitz would be appreciated. It should be asking for that in the issue template.

[2021-02-26 17:54] beeman commented on #293
Hi @matndev. Thanks for creating this issue - a repro in StackBlitz would be appreciated. It should be asking for that in the issue template.

[2021-02-26 17:55] beeman commented on #270
Hi @amirhaghajani . Thanks for creating this issue - a repro in StackBlitz would be appreciated. It should be asking for that in the issue template.

[2021-02-26 18:11] beeman commented on #163
Hi @graphicsxp, thanks for your kind words. At this moment I don't have any concrete plans for this part. With that said, I'm happy to help you land this in the project.

If that sounds interesting, feel free to reach out on the Angular Discord listed in the README and I'm pretty sure we can make it happen.

[2021-03-01 10:36] lf-novelt commented on #220
thanks for the workaround.
However I wonder if this is symply a typing issue, or an actual issue with the code, as the project is in TypeScript, so the typing are generated from the actual code, and the code really expects the `size` Input to be a Number as seen here
https://github.com/angular-split/angular-split/blob/659694376dfa83a6fa4b4e5f42f524e3349e6298/projects/angular-split/src/lib/directiv

[2021-03-01 14:42] beeman commented on #220
Hey @lf-novelt , if you check #289 you can see where it's set. Once I finish that PR it will work without the workaround.

[2021-03-12 11:00] albenakertova opened #296 "(accessibility) Screen reader say 'Clickable' when the split gutter is focused"
**Describe the bug**
We're working on VPAT accessibility of our product. The split gutter cannot be accessed via Keyboard in normal tab flow. If the user goes in Browse mode after going through all the split areas, the Screen reader goes to the split gutter and announces 'Clickable'.

Expected:

The screen reader should announce 'Separator' or other label to determine the role of the gutter.

**To

[2021-03-20 11:59] ChakirMrabet opened #297 "Changing [size] dynamically doesn't work with version 5.0.0 and Angular 11.2.1"
I'm trying to give an option to the user to reset the areas to the original sizes when double-clicking the gutter.

Here is my component markup:

[code]

And this is my component's code:

[code]
When I double-click the gutter I can see the event bubbling up, but the sizes don't change to the original values (30, 70).

Is `[size]` monitoring changes?

Thanks.

[2021-03-24 11:53] Arjen-1 opened #298 "dragProgress$ doesnt seem to emit any values"
**dragProgress$ doesnt seem to emit any values**

Maybe it's just on my end but it looks like it doesnt amit any values (anymore).
Can anyone confirm this still works? Else it is a bug.

**To Reproduce, see code below**

`@ViewChild('mainSplitter') public mainSplitter: SplitComponent;

ngAfterViewInit(): void {
        if (this.mainSplitter) {
            this.subs.add(this.mainSplitter.dragProgre

[2021-03-24 11:56] Arjen-1 commented on #298
Nevermind

[2021-03-24 11:56] #298 closed

[2021-05-03 13:32] xman2310 opened #302 "Take a look at this question and let me know the answer. please."
Take a look at this question and let me know the answer. please.

https://github.com/nhn/tui.grid/issues/1320

[2021-05-03 13:59] beeman commented on #302
I don't think it's related to this project?

If it is, please use the issue template to create a proper issue with a reproduction.

[2021-05-03 13:59] #302 closed

[2021-05-27 08:31] MaximeKoitsalu commented on #265
@beeman Thanks for maintaining this project. Is upgrading to support Angular 12 in the pipe?

[2021-05-27 13:48] beeman commented on #265
@MaximeKoitsalu yes! I totally aim to support this.

Are you currently running into any issues using it or is it a matter of warnings?

[2021-05-27 16:21] beeman commented on #265
Let me know if it's a show-stopper and I'll push out a fix.

[2021-06-17 16:51] rlindgren commented on #265
I am noticing that my project running angular 12.0.4 works fine in development, but after building for production `as-split-area`s do not render, or they flash on the screen and then disappear.

[2021-07-23 05:49] vkjv opened #304 "Splitter does not resize components as expected"
I am trying to understand what could block the splitter from resizing smoothly. meaning I have two split-areas which are horizontally split using the splitter layout. Each split-areas has a custom angular component which hosts an echart widget.

Now the issue is, when I tried to drag splitter to the left, the component on the right gets expanded but the splitter handle do not move to the left but

[2021-07-23 14:55] beeman commented on #304
Hey there @vkjv - thanks for submitting this issue. Could you please create a reproduction that shows the issue?

[2021-07-26 04:52] vkjv commented on #304
Hi @beeman, unfortunately  I could not reproduce this issue with plunkr. This issue is occuring only with the project setup. And unfortunately I will not be able to share the code.
Do you have any other suggestions?

[2021-07-28 12:51] vkjv commented on #304
Closing the issue as I could not prepare a reproduction code.

[2021-07-28 12:51] #304 closed

[2021-08-04 19:33] steflen commented on #294
got the same problem with a colorPicker from primeng [p-color / p-overlay](https://www.primefaces.org/primeng/showcase/#/colorpicker)

the problem does not occur, when using native color picker (which is fine for me)

[2021-08-09 07:51] lf-novelt opened #305 "Docs: "ui-*" classNames are wrong, should be "as-*""
Hello, thanks for this simple and effective library

**Describe the bug**
Current version of [online documentation](https://angular-split.github.io/documentation) show **obsolete class names and components** with `ui-*` prefix that is now replaced by `as-*`
![image](https://user-images.githubusercontent.com/46479127/128676789-bf96720b-e788-4904-9841-30457eb0993f.png)

Here is the docs source file

[2021-08-09 09:09] beeman commented on #305
Hey @lf-novelt - thanks for creating this issue.

I would be happy to receive a PR that fixes this!

[2021-08-09 13:00] lf-novelt commented on #305
sure, let me do that

[2021-08-09 14:29] #305 closed

[2021-08-09 19:56] Rajdeep97 opened #307 "Export Internal Interfaces"
**Is your feature request related to a problem? Please describe.**
Browsing the library I can see there are internal Interfaces like IOutputData, IArea, etc, please expose them so that we can refer them in our angular project.

**Describe the solution you'd like**
Please expose Internal Interfaces so that we can refer them in our angular project, eg: during the dragEnd event, we can use the type i

[2021-09-28 10:07] angelaki opened #308 "Support Two-Way-Binding for size"
Hey, how about allowing size a TwoWayBinding? Guess in percent mode it could be pretty useful. Thank you!

[2021-11-19 17:11] jefbarn opened #311 "Support for Angular 13+"
Receive the following warning on Angular 13:

Processing legacy "View Engine" libraries:
- angular-split [es2015/esm2015] (https://github.com/angular-split/angular-split.git)
Encourage the library authors to publish an Ivy distribution.

[2021-11-20 00:25] beeman commented on #311
Hey @jefbarn, I just published version 13.0.0 that's built with Angular 13. Please let me know if you find any issues as I'm currently not using angular-split in one of my own projects.

[2021-11-20 00:25] #311 closed

[2021-11-20 00:36] beeman commented on #307
Hey @Rajdeep97 thanks for creating the issue. This should be fixed in version 13.0.1.

[2021-11-20 00:36] #307 closed

[2021-11-20 00:52] beeman commented on #294
Please provide a StackBlitz repro.

[2021-11-20 00:52] #294 closed

[2021-11-20 00:52] beeman commented on #293
Please provide a StackBlitz repro.

[2021-11-20 00:52] #293 closed

[2021-11-20 00:52] beeman commented on #270
Please provide a StackBlitz repro.

[2021-11-20 00:52] #270 closed

[2021-11-20 00:53] beeman commented on #224
If someone still has this problem, please create a new issue with a repro on StackBlitz.

[2021-11-20 00:53] #224 closed

[2021-11-26 18:11] #166 closed

[2021-11-26 18:21] beeman commented on #166
This is now available in `angular-split@13.1.0`.

[2021-12-03 15:30] kwood-gmr opened #316 "Spurious network call"
Anytime there is a split area that is not resizable a single network call will be made back to the current location. Typically this will not be noticed as the web server then re-writes the call to the page origin and responds. My company is using this inside an Electron app and it results in a failed network call (that is benign, but there).

I have isolated this to the scss for the as-split compo

[2022-03-08 20:24] Gil-Epshtain opened #318 "Resize the drag-handle"
### I would like to be able to resize the drag/resize handle.

The default width/height of the handle is set to `11px` with this CSS style:
[code]

If I try to override this class and set the value to be something different like `7px` then a 4px (= 11 - 7) border will appear at the end of the container. It seems like some JS code is updating the `as-split-area` element size.

It would be nice to h

[2022-03-08 20:32] beeman commented on #318
Hi @Gil-Epshtain - feel free to submit a PR that implements this.

[2022-03-10 12:50] Gil-Epshtain commented on #318
This can be achieved via the `gutterSize` @Input parameter.
For example:
[code]

[2022-03-10 12:50] #318 closed

[2022-03-17 21:22] bBaxta commented on #296
Regarding "The split gutter cannot be accessed via Keyboard in normal tab flow", this appears to be an issue in 13.2.0 build as well.

I've setup a Stackblitz using the demo app and adding buttons into the split areas to show the tab order:
https://stackblitz.com/edit/angular-split-demo-cgwewh?file=src%2Fapp%2Fapp.component.html

[2022-04-12 13:57] Dbibek opened #319 "Adding Resizelistener such that the element inside to be responsive"
Hey,
How about the resize listener such that the element inside the splitter area would be responsive when it hits the breakpoint.

this.splitEl.dragProgress$.subscribe(x => {
      y = this.ngZone.run(() => (this.x = x));
      console.log(y.sizes);
    });
 clearly, the darg can be monitored but I am not able to hit compare the sizes with the breakpoint to make the elements inside the split view

[2022-05-03 09:39] mapurba opened #320 "when using the expand function there is no way to expand it to the actual set size of the spilt , auto close gutter after a size like vs code"
Hello ,
Hope u r all fine .

### Please can we have expand to any size functionality

I am trying to achieve the functionality , where is the splitter  drag size is in between 100 - 150 it will auto dock to min size .
that's works fine . but when I want to reopen the sidebar with expand function it opens to last remembered position
I need a way to expand it to the size set in the splitter
How can

[2022-05-03 09:46] mapurba commented on #320
I was able to do this by
[code]

I hope is am doing this right way

[2022-05-03 10:10] mapurba commented on #320
Update ..
### Please can we have expand to any size functionality

![46743216-0b06-469d-918c-d7dd7fb66b84](https://user-images.githubusercontent.com/14968986/166436227-185f3797-6f86-4bd3-9aa9-197dbb54302c.gif)

[2022-06-09 20:03] jadsonmd opened #321 "Resizing in split panel when I use tinyMce component"
**Describe the issue**
If I resize a split panel with a component inside the <as-split-area> tag, in this case tinyMCE, the resizing of the area doesn't work softly.

**To Reproduce**
https://stackblitz.com/edit/angular-ivy-sedgxk?file=src%2Fapp%2Fapp.component.ts,src%2Fapp%2Fapp.module.ts,angular.json,src%2Fapp%2Fapp.component.html

[2022-06-10 20:12] #321 closed

[2022-06-10 20:16] jadsonmd commented on #321
I solved this issue using 'Split containing iframes'.

**Solution**
https://angular-split.github.io/examples/iframes

[2022-06-10 20:18] beeman commented on #321
Glad you found it @jadsonmd and thanks for sharing the solution for future reference!

[2022-06-24 13:51] Nightapes opened #323 "A11Y issue when using pixel unit"
**Describe the bug**
When using as-split with unit `pixel` the gutters with role `slider` fail a11y tests.
All mandatory aria attributes are not set like
[code]

**To Reproduce**

https://angular-split.github.io/examples/nested-split with unit `pixel` and check html code if aria attributes are set

[2022-07-12 09:14] Rajesh35hsp commented on #268
same issue , not even css helping as it is having inline styles

[2022-07-12 09:39] Rajesh35hsp commented on #268
Add a style like this:

[code]

At the component level, it is required to add

[code]

[2022-07-14 15:42] paulaustin-automutatio opened #325 "Panels with object tags can't be resized"
**Describe the bug**
13.2.0

If you have a object tag in one of the split areas then you can't make that area smaller as the object tag consumes the pointer events so the move doesn't work.

You can fix this by setting the css style pointer-events: none when dragging on the as-split-area elements

**To Reproduce**

I tried to reproduce the simple example below, but it didn't have the same issue.

[2022-07-27 07:38] jlabaj opened #326 "`AngularSplitModule.forRoot() is deprecated and will be removed in v6`"
Hi,
What about the above warning, we shouldn't use the forRoot anymore? We have v13 now.

[2022-07-27 08:59] beeman commented on #326
Hi, thanks for creating this issue - good catch. I will remove it!

[2022-09-09 08:33] grafanauser opened #327 "Question: Is there a way to start in collapse() state?"
## update 2:
okay, It is not directly a problem with angular-split.
The reason in my project is that when the component is created the `<as-split>` is hidden by *ngif. Because of that initializing it does not work in ngOnInit or ngAfterViewChild because that is too early as the ngif is still false until the user is pressing some buttons.  I cannot remove that ngif and will have to find a different

[2022-09-11 18:55] beeman commented on #316
This should be fixed by #322

[2022-09-11 18:55] #316 closed

[2022-10-03 16:53] jefbarn opened #328 "14.1.0 not listed as latest on npm"
**Describe the bug**
Not sure if this was intentional or not, but the latest release 14.1.0 is not listed as latest on npm.

...
dist-tags:
latest: 14.0.0  next: 14.1.0
...

[2022-10-03 17:21] beeman commented on #328
Thanks for letting me know, it's fixed now:

[code]

[2022-10-03 17:21] #328 closed

[2022-11-18 15:54] PeterSR opened #329 "Gutter does not show up inside mat-card using Angular Material UI"
There seems to be a weird interaction between Angular Material and angular-split.
When I try to put a split[^1] inside a `mat-card`, the gutter does not render and is not draggable.

Even outside the the card, there seems to be some weird behavior, requiring a height on the container. See the stackblitz below.
Perhaps I have missed something in the documentation?

**To Reproduce**

https://stackbl

[2022-11-28 13:26] MerlijnKerklaan opened #330 "Add posibility to reset size to it's initial state"
I could not find a way to reset the splitter to it's initial state. I think it would make a great addition to the angular split component to be able to reset it to it's initial state.

[2022-11-28 15:24] beeman commented on #330
Hey there @MerlijnKerklaan - feel free to create a pull request that includes tests and I will look at merging it.

[2022-11-29 18:45] Harpush opened #331 "Add scss theme for customization"
Currently to change the styles you need to override with `!important` the built-in styles using the global classes.

A better solution is adding sass theme using sass modules (`@use`) like material allowing for style overrides.

[2022-11-30 18:20] Harpush opened #332 "Allow mixing pixel and percent units between size and minSize"
**Is your feature request related to a problem? Please describe.**
We need one of the split areas to be percent based but the min size should be a hard pixel based minimum otherwise the UI looks bad.

**Describe the solution you'd like**
A way to specify min and max size in pixels in percent mode.

[2022-11-30 18:33] Harpush opened #333 "Allow * size in percent mode"
**Is your feature request related to a problem? Please describe.**
We have a three splitted screen which should act as:
1. 20%
2. Half of remaining place (auto)
3. Half of remaining place (auto)

Now theoretically we could say 2 and 3 are 40% but in our case the number 20 is dynamic. So we need to do (100 - x) / 2. And this scenario happens in multiple places.

**Describe the solution you'd like**

[2022-11-30 18:38] Harpush opened #334 "Add the iframe fix as built-in or flag"
**Is your feature request related to a problem? Please describe.**
We found ourselves doing the iframe hack too many times.

**Describe the solution you'd like**
It would be awesome if that was built in (adding the div) either always or at least behind a flag.